* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* .box {
  background-color: red;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 474px) {
  .box {
    background-color: green;
    width: 288px;
    height: 288px;
  }
}

@media screen and (min-width: 475px) and (max-width: 719px) {
  .box {
    width: 459px;
    height: 459px;
  }
}

@media screen and (min-width: 720px) and (max-width: 959px) {
  .box {
    width: 688px;
    height: 688px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
  .box {
    width: 928px;
    height: 928px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .box {
    width: 992px;
    height: 992px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .box {
    width: 1248px;
    height: 1248px;
  }
}

@media screen and (min-width: 1440px) {
  .box {
    width: 1408px;
    height: 1408px;
  }
} */

/* 
320px (375px) - iPhone SE
475px - 719px
720px - 959px
960px - 1023px
1024px - 1279px
1280px - 1439px
1440px - 1599px
1600px - 1919px
1920px - 2559px
2560px >

Ходовые 
> 719px
720px - 1023px
1024px - 1279px
1280px - 1439px
1440px - 1919px
1920px >
*/

.header { 
  height: calc(100 / 1440 * 100vw);
  background-color: gray;
}

.content {
  display: flex;
  column-gap: calc(33 / 1440 * 100vw);
  padding: 0 calc(68 / 1440 * 100vw);
  margin-top: calc(48 / 1440 * 100vw);
}

.card {
  background-color: gray;
  height: calc(400 / 1440 * 100vw);
  width: calc(300 / 1440 * 100vw);
}

.sidebar {
  width: calc(400/1440*100vw);
}

.article { 
  padding: 0 40px;
}

.article__header { 
  color: purple;
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.article__section-paragraph { 
  font-size: 20px;
}

.footer {
  height: 200px;
  background-color: black;
}

/* @media screen and (max-width: 720px) {
    .content {
      display: block
    }

    .sidebar {
      width: 100%;
      padding: 0 16px;
    }

    .article {
      padding: 0 16px;
      margin-top: 20px;
    }
    .article__section-paragraph { 
      font-size: 28px;
    }
} */

@media screen and (max-width: 720px) {
    .content {
      flex-wrap: wrap;
      column-gap: calc(26 / 320 * 100vw);
      padding: 0 calc(32 / 320 * 100vw);
      margin-top: calc(26 / 320 * 100vw);
      row-gap: calc(22 / 320 * 100vw);
  }

  .card {
    background-color: gray;
    height: calc(160 / 320 * 100vw);
    width: calc(115 / 320 * 100vw);
  }

  .header { 
    height: calc(100 / 320 * 100vw);
    background-color: gray;
  }
}