@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(./fonts/SourceSansPro-Bold.woff);
  src: url(./fonts/SourceSansPro-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(./fonts/SourceSansPro-Regular.woff);
  src: url(./fonts/SourceSansPro-Regular.woff2);
}